body
{
	background-color: #404040;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Lato', sans-serif;
}
#logo
{
	display: inline-block;
}
#pic
{
	display: inline-block;
}
h1
{
	color: white;
	margin-top: 20px;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
}

#topnav
{
	background-color: #262926;
}
.bigtitle
{
	font-size: 25px;
}
.menu
{
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}
.menu a
{
	color: #fff;
	text-decoration: none;
}
.menu a:hover
{
	color: #9DA39D;
}
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}
ol > li
{
	float: left;
	min-width: 119px;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #D7DCD9;
	text-align: center;
	height: 35px;
}
ol > li:last-child
{
	border-right: none;
}
ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
	font-size: 16px;
}
ol > li:hover > ul
{
	display: block;
}
ol > li > ul > li
{
	background-color:#262926;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #D7DCD9;
}

ol > li > ul > li:hover
{
	background-color: #050505;
}

ol > li > ul > li:hover > a
{
	color: #white;
}

#topbar
{
	background-color: #185F3A;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 160px;
}

#topbarL
{
	float:left;
	padding: 20px;
	padding-left: 5px;
	padding-right: 5px;
	width: 148px;
	text-align: center;
	border-right: 2px dotted #cccccc;
	height: 120px;
}

#topbarR
{
	float: left;
	padding: 10px;
	padding-left: 20px;
	width: 760px;
	font-size: 20px;
	text-align: justify;
}
.menuL
{
	float: left;
	width: 148px;
	min-height: 620px;
	padding:20px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: lightgray;
	text-align: center;
	font-size: 16px;
	border-right: 2px dotted #666666;
}
.menuL a
{
	color: #130B0A;
	text-decoration: none;
}
.optionL
{
	font-size:16px;
	height:25px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
}
.optionL:hover
{
	background-color: #F0F0F0;
	color: white;
	cursor: pointer;
}

#content
{
	float: left;
	padding: 40px;
	width: 750px;
	background-color: #dedede;
	min-height: 610px;
	font-size: 20px;
	padding-top:10px;
}
h2
{
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 2px;
}
h3
{
	font-size: 20px;
	font-weight: 700;
}
.info
{
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 16px;
}
.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}
.pkt
{
	padding-bottom: 10px;
	font-size: 20px;
}
.button
{
	float: right;
}
.logoR
{
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
}
.date
{
	font-size: 20px;
	text-align: justify;
	margin-left: 65px;
	
}
input[type=text],
input[type=password],
input[type=email]
{
	width: 600px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	margin-left: 65px;
	
}
input[type=submit]
{
	width: 600px;
	background-color: #185F3A;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	margin-left: 65px;
}
input[type=submit]:hover
{
	background-color: #37b93d;
}
button
{
	background-color: #262926;
	color: white;
	cursor: pointer;
	width: 100px;
	border-radius: 5px;
	padding: 6px;
}
button:hover
{
	background-color: #635C5C;
}